<div>

  <nav class="navbar navbar-default">
    <div class="container-fluid">

      <ul class="nav navbar-nav pull-left">
        <li><a href="/home">Home</a></li>
        <li><a href="#">Explore</a></li>
        <li><a href="#">Galleries</a></li>
      </ul>

      <ul class="nav navbar-nav pull-right">
        <li><a href="#">Login</a></li>
        <li><a href="#">Register</a></li>
      </ul>

    </div>
  </nav>

  <div class="splash-main">
    <span class="introduction">The home for all your photos.</span>
  </div>

  <div class="splash-main-2">
    <span class="introduction-2">Inspire others with your creativity...</span>
  </div>

  <div class="splash-main-3">
    <span class="introduction-3">...and discover breath-taking sights from around the world.</span>
  </div>

  <nav class="navbar navbar-default">
    <div class="container-fluid">

      <ul class="nav navbar-nav pull-right">
        <li><a href="#">Github</a></li>
        <li><a href="#">Linkedin</a></li>
      </ul>

    </div>
  </nav>

</div>
