.dropdown .dropdown-menu#collections-dropdown {
  width: 150px;
  min-width: 150px;
  max-height: 0;
  display: block;
  border: none;
  padding: 0 0 0 0;
  margin-left: 5px;
  opacity: 0;
  overflow: hidden;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  font-weight: normal;
  font-family: "Source Sans Pro";

  -webkit-transition: all .3s ease;
     -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
       -o-transition: all .3s ease;
          transition: all .3s ease;
}

.dropdown.open .dropdown-menu#collections-dropdown {
  max-height: 700px;
  opacity: 1;
}

.dropdown .dropdown-menu#you-dropdown {
  margin-right: 5px;
  border: none;
  padding: 0 0 0 0;
  max-height: 0;
  display: block;
  overflow: hidden;
  opacity: 0;
  font-weight: normal;
  font-family: "Source Sans Pro";

  -webkit-transition: all .3s ease;
     -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
       -o-transition: all .3s ease;
          transition: all .3s ease;
}

.dropdown.open .dropdown-menu#you-dropdown {
  max-height: 220px;
  opacity: 1;

  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.you-dropdown-item {
  padding: 8px 0px 8px 15px;
  color: #505050;

  -webkit-transition: all .3s ease-out;
     -moz-transition: all .3s ease-out;
       -o-transition: all .3s ease-out;
      -ms-transition: all .3s ease-out;
          transition: all .3s ease-out;
}

.you-dropdown-item:hover {
  background: #D0D0D0;

  -webkit-transition: all .3s ease;
     -moz-transition: all .3s ease;
       -o-transition: all .3s ease;
      -ms-transition: all .3s ease;
          transition: all .3s ease;
}

.dropdown .dropdown-menu#login-dropdown {
  margin-right: 5px;
  border: none;
  padding: 8 0 0 0;
  max-height: 0;
  display: block;
  overflow: hidden;
  opacity: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  font-weight: normal;
  font-family: "Source Sans Pro";

  -webkit-transition: all .3s ease;
     -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
       -o-transition: all .3s ease;
          transition: all .3s ease;
}

.dropdown.open .dropdown-menu#login-dropdown {
  max-height: 200px;
  opacity: 1;
}

.dropdown .dropdown-menu#signup-dropdown {
  margin-right: 5px;
  border: none;
  padding: 8 0 0 0;
  max-height: 0;
  display: block;
  overflow: hidden;
  opacity: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  font-weight: normal;
  font-family: "Source Sans Pro";

  -webkit-transition: all .3s ease;
     -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
       -o-transition: all .3s ease;
          transition: all .3s ease;
}

.dropdown.open .dropdown-menu#signup-dropdown {
  max-height: 200px;
  opacity: 1;
}
