// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pictures-collection {
  position: relative;
  float: left;
  margin: 10px;
  overflow-y: scroll;
  height: calc(100%);
}

.photo-thumb {
  position: relative;
  display: inline-block;
  margin: 1px;

  -webkit-transition: all .1s ease-out;
     -moz-transition: all .1s ease-out;
       -o-transition: all .1s ease-out;
      -ms-transition: all .1s ease-out;
          transition: all .1s ease-out;
}

.photo-thumb:hover {
  z-index: 100;

  -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
       -o-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);

  -webkit-transition: all .25s ease;
     -moz-transition: all .25s ease;
       -o-transition: all .25s ease;
      -ms-transition: all .25s ease;
          transition: all .25s ease;
}

.photo-show {
  position: relative;
  margin-top: 5px;
  margin-right: 0 auto;
  margin-left: 0 auto;
  text-align: center;
  overflow: hidden;
}

.feed-main {
  text-align: center;
  margin-left: 0px auto;
  margin-right: 0px auto;
}
