// Place all the styles related to the PhotoComments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.photo-comment-list {
  list-style-type: none;
  padding-left: 0px;
}

.photo-comment-item {
  margin-bottom: 5px;
}

.comment-author {
  color: navy;
}

.comment-author:hover {
  color: blue;
  cursor: pointer;
  transition: all .5s ease;
}

.comment-date {
  color: #909090;
}

#comment-delete-button {
  margin-left: 3px;
  margin-right: 3px;
  font-size: 1.3em;
}

#comment-delete-button:hover {
  cursor: pointer;
}

#comment-edit-button {
  margin-left: 7px;
  margin-right: 3px;
  font-size: 1.3em;
}

#comment-edit-button:hover {
  cursor: pointer;
}
