.pictures-collection {
  position: relative;
  float: left;
  margin: 10px;
  overflow-y: scroll;
  height: calc(100%);
}

.photo-thumb {
  position: relative;
  display: inline-block;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 1px;
  margin-bottom: -4px;
  background: black;
  width: 13vw;
  height: 13vw;
  min-width: 200px;
  min-height: 200px;
  overflow: hidden;

  -webkit-transition: all .1s ease-out;
     -moz-transition: all .1s ease-out;
       -o-transition: all .1s ease-out;
      -ms-transition: all .1s ease-out;
          transition: all .1s ease-out;
}

.photo-thumb img {
  position: absolute;
  left: -33px;
  top: -33px;
}

.photo-thumb:hover img {
  z-index: 100;
  opacity: 0.3;
  transform: scale(.8);
  cursor: pointer;

  -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
       -o-transition: all .5s ease;
      -ms-transition: all .5s ease;
          transition: all .5s ease;

  -webkit-transform: all .5s ease;
     -moz-transform: all .5s ease;
       -o-transform: all .5s ease;
      -ms-transform: all .5s ease;
          transform: all .5s ease;
}

.photo-thumb:hover span {
  display: block;
}

.photo-thumb span {
  position: absolute;
  display: none;
}

.photo-thumb span.delete {
  z-index: 3000;
  color: #f3f5f6;
  bottom:0;
  right:0;
}

.photo-thumb span.favorite {
  z-index: 3000;
  color: #f3f5f6;
  bottom:0;
  right:0;
}

.photo-thumb span.title {
  font-weight: bold;
  z-index: 3000;
  color: #f3f5f6;
  top: 5px;
  font-size: 1.5vh;
  left: 10px;

  // font-weight: bold;
  // z-index: 3000;
  // color: #f3f5f6;
  // top: 15%;
  // left: 15%;
}

.photo-thumb span.title:hover {
  cursor: pointer;
  text-decoration: underline;
}

.photo-thumb span.author {
  font-size: 13px;
  z-index: 3000;
  color: #f3f5f6;
  top: 23%;
  left: 15%;
}

.photo-thumb span.author-two {
  font-size: 1.2vh;
  z-index: 3000;
  color: #f3f5f6;
  bottom: 7px;
  left: 10px;
  // padding-left: 17px;
  // font-size: 13px;
  // z-index: 3000;
  // color: #f3f5f6;
  // top: 23%;
  // left: 15%;
}

.photo-thumb span.author-two:hover {
  cursor: pointer;
  text-decoration: underline;
}

.photo-thumb span.favorite-count {
  right:0;
  bottom:0;
  z-index: 3000;
  color: #f3f5f6;
  margin-right: 10px;
  // margin-bottom: 3px;
  font-size: 2em;
}

.photo-thumb span.favorite-count:hover {
  cursor: pointer;
}

#photo-delete-button {
  margin-right: 10px;
  margin-bottom: 6px;
  font-size: 2em;
}

#photo-delete-button:hover {
  cursor: pointer;
}

#photo-favorite-button {
  margin-right: 30px;
  margin-bottom: 6px;
  font-size: 2em;
}

#photo-favorite-button:hover {
  cursor: pointer;
}

#photo-unfavorite-button {
  margin-right: 30px;
  margin-bottom: 6px;
  font-size: 2em;
  opacity: .85;
  color: #cc3352;
}

#photo-unfavorite-button:hover {
  cursor: pointer;
}

#photo-favorite-button-ghost {
  margin-right: 30px;
  margin-bottom: 6px;
  font-size: 2em;
}

.favorite-tooltip {
  font-size: 12px;
  width: 100px;
  bottom: 40px;
  right: 5%;
  opacity: 0;
  position: absolute;

  -webkit-transition: opacity 0.5s;
     -moz-transition: opacity 0.5s;
      -ms-transition: opacity 0.5s;
       -o-transition: opacity 0.5s;
          transition: opacity 0.5s;
}

.details-tooltip {
  position: relative;
}

.details-tooltip span {
  bottom: -25px;
  left: -10px;
}

#photo-favorite-button-ghost:hover .favorite-tooltip {
  opacity: 1;
}

#photo-favorite-button-ghost:hover .favorite-tooltip-details {
  opacity: 1;
}

.feed-main {
  text-align: center;
  margin-left: 0px auto;
  margin-right: 0px auto;
  padding-bottom: 25px;
}

.photo-title {
  font-weight: 400;
}

.photo-detail-photo {
  background: #202020;
  overflow: hidden;
  position: relative;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.photo-detail-container {
  width: 25vw;
  height: 97vh;
  overflow-y: scroll;
  position: relative;
  float: left;

  background:rgba(0,0,0,0.8);
  -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
       -o-transition: all .5s ease;
      -ms-transition: all .5s ease;
          transition: all .5s ease;
}

.photo-detail-container-hidden {
  width: 25vw;
  height: 97vh;
  overflow-y: scroll;
  transform: translate3d(calc(-22vw - 1px), 0, 0);

  position: relative;
  float: left;

  background:rgba(0,0,0,0.8);
  -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
       -o-transition: all .5s ease;
      -ms-transition: all .5s ease;
          transition: all .5s ease;
}

.photo-detail-info {
  margin: 4em;
  text-align: center;
  color: white;
}

.photo-detail-info h3, h4 {
  color: white;
	padding: 0px 0px 12px 0px;
	background: none;
	margin: 0px 0px 20px 0px;
	display: inline-block;
	text-transform: uppercase;
  position: relative;
}

h3 div {position:relative;padding-bottom : 5px;}
h4 div {position:relative;padding-bottom : 5px;}
h3 div:after{position:absolute; left:0; bottom:0; width:100%; height:1px; border-bottom:1px solid white; content:""}
h4 div:after{position:absolute; left:0; bottom:0; width:100%; height:1px; border-bottom:1px solid white; content:""}

.photo-detail-info p {
  text-align: left;
  word-wrap: break-word;
}

.show-hide-button {
  position: absolute;
  padding-right: 5px;
  bottom: 50vh;
  right: 10px;
  font-size: 4em;

  -webkit-transition: all .2s ease;
     -moz-transition: all .2s ease;
       -o-transition: all .2s ease;
      -ms-transition: all .2s ease;
          transition: all .2s ease;
}

.show-hide-button:hover{
  cursor: pointer;
  color: #006dac;
}

.photo-detail-photo span.favorite {
  bottom: 0;
  right: 0;
  color: #f3f5f6;
}

.photo-detail-photo span.favorite-count {
  right: 0;
  bottom: 0;
  color: #f3f5f6;
  margin-right: 10px;
  margin-bottom: 3px;
  font-size: 2em;
}

.photo-detail-photo span.previous {
  position: absolute;
  bottom: 1vh;
  left: 6vw;
  color: #f3f5f6;
  font-size: 7em;
  overflow: visible;
  z-index: 200;

  -webkit-transition: all .5s ease-out;
     -moz-transition: all .5s ease-out;
       -o-transition: all .5s ease-out;
      -ms-transition: all .5s ease-out;
          transition: all .5s ease-out;
}

.photo-detail-photo span.previous-shift-right {
  position: absolute;
  bottom: 1vh;
  left: 28vw;
  color: #f3f2f6;
  font-size: 7em;
  overflow: visible;
  z-index: 200;

  -webkit-transition: all .5s ease-out;
     -moz-transition: all .5s ease-out;
       -o-transition: all .5s ease-out;
      -ms-transition: all .5s ease-out;
          transition: all .5s ease-out;
}

.photo-detail-photo span.previous-shift-right:hover {
  color: #006dac;
  cursor: pointer;
}

.photo-detail-photo span.next {
  position: absolute;
  bottom: 1vh;
  right: 3vw;
  color: #f3f2f6;
  font-size: 7em;

  -webkit-transition: all .5s ease-out;
     -moz-transition: all .5s ease-out;
       -o-transition: all .5s ease-out;
      -ms-transition: all .5s ease-out;
          transition: all .5s ease-out;
}

.photo-detail-photo span.previous:hover {
  color: #006dac;
  cursor: pointer;
}

.photo-detail-photo span.next:hover {
  color: #006dac;
  cursor: pointer;
}

.about-the-photographer {
  padding-top: 18px;
  margin-bottom: 50px;
}

.divider-line {
  height: 1px;
  width: 75%;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: #909090;
}
