// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-username-input {
  padding-left: 5px;
  padding-right: 5px;
}

.login-password-input {
  padding: 5px;
}

.login-submit-button {
  padding-left: 5px;
}
