.spacing-object-50 {
  margin-top: 50px;
}

.introduction {
  text-align: center;
  font-size: 3.5rem;
  position: absolute;
  color: #F0F0F0;
  top: 45%;
  left: 10%;
}

.introduction-2 {
  text-align: center;
  font-size: 3.5rem;
  position: absolute;
  color: #505050;
  top: 50%;
  right: 10%;
}

.introduction-3 {
  text-align: center;
  font-size: 3.5rem;
  position: absolute;
  color: #F0F0F0;
  top: 50%;
  right: 10%;
}

.splash-main {
  position: relative;
  display: block;
  margin-left: 0;
  margin-right: 0;
  max-width: 1920px;
  height: 80vh;
  background: url("http://res.cloudinary.com/dwx2ctajn/image/upload/c_scale,w_2000/v1450164622/35.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.splash-main-2 {
  position: relative;
  display: block;
  margin-left: 0;
  margin-right: 0;
  max-width: 1920px;
  height: 80vh;
  background: url("http://res.cloudinary.com/dwx2ctajn/image/upload/c_scale,w_2000/v1450164670/29.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.splash-main-3 {
  position: relative;
  display: block;
  margin-left: 0;
  margin-right: 0;
  max-width: 1920px;
  height: 80vh;
  background: url("http://res.cloudinary.com/dwx2ctajn/image/upload/c_scale,w_2000/v1450164669/30.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
