.logo {
  font-family: "Montserrat";
  font-weight: bolder;
  font-size: 26px;
}

.sidebar-background {
  background: black;
  height: 50px;
}

.introduction {
  text-align: center;
  font-size: 4.25rem;
  position: absolute;
  color: white;
  top: 45%;
  left: 12%;
}

.navbar-fixed-bottom#external-links-bar {
  background: black;
  position: relative;
}

.introduction-2 {
  text-align: center;
  font-size: 3.5rem;
  position: absolute;
  color: #505050;
  top: 45%;
  right: 20%;
}

.introduction-3 {
  text-align: center;
  font-size: 3.5rem;
  position: absolute;
  color: white;
  top: 45%;
  right: 10%;
}

.splash-main {
  position: relative;
  display: block;
  margin-left: 0;
  margin-right: 0;
  max-width: 1920px;
  height: 90vh;
  background: url("http://res.cloudinary.com/dwx2ctajn/image/upload/c_scale,w_2500/v1450164622/49.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.splash-main-2 {
  position: relative;
  display: block;
  margin-left: 0;
  margin-right: 0;
  max-width: 1920px;
  height: 90vh;
  background: url("http://res.cloudinary.com/dwx2ctajn/image/upload/c_scale,w_2500/v1450164670/29.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.splash-main-3 {
  position: relative;
  display: block;
  margin-left: 0;
  margin-right: 0;
  max-width: 1920px;
  height: 95vh;
  background: url("http://res.cloudinary.com/dwx2ctajn/image/upload/c_scale,w_2500/v1450164669/30.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
