.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 750ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: .01;
  transition: opacity 750ms ease-in;
}

.splash-image {
  position: absolute;
  width: 100%;
  // min-width: 1600px;
  max-height: 100vh;
  height: 100vh;

  // vertical-align: text-bottom;
  text-align: center;
  // object-fit: cover;
}

.splash-image img {
  // max-width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  // bottom: -10%;
  left: 0;
  width: 100%;
}

.splash-image img#photo-85 {
  position: absolute;
  top: -20%;
  width: 100%;
}

.splash-image img#photo-9 {
  position: absolute;
  top: -45%;
  width: 100%;
}

.splash-image img#photo-5 {
  position: absolute;
  top: -10%;
  width: 100%;
}

.splash-image img#photo-22 {
  position: absolute;
  top: -20%;
  width: 100%;
}

.splash-image img#photo-36 {
  position: absolute;
  top: -28%;
  width: 100%;
}

.transition-container {
  position: relative;
  height: 100vh;
}

.usertab-enter {
  background-color: #EEE;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(-100%, 0, 0);
  position: fixed;
}

.usertab-enter.usertab-enter-active {
  background-color: #EEE;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(0, 0, 0);
  transition: all 600ms;
  position: fixed;
}

.usertab-leave {
  transform: translate3d(0, 0, 0);
  position: fixed;
}

.usertab-leave.usertab-leave-active {
  transform: translate3d(100%, 0, 0);
  transition: all 600ms;
  position: fixed;
}
